.order_wrapper {
  box-shadow: 0 0 5px rgb(0 0 0 / 15%);
  height: 700px;
  h5 {
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 600;
    font-size: 15px;
    color: #000;
    text-align: center;
  }
}

.order_summary_heading {
  background: #e6e6e6;
}

.total_order_discount {
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .discount_input_wrapper {
    display: flex;
    align-items: center;
    position: relative;

    .discount_input {
      width: 62px;
      border: 1px solid #ddd;
      padding: 4px;
      margin-left: 5px;
      height: 38px;
      font-size: 18px;
      padding-right: 10px;

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        cursor: pointer;
        display: block;
        width: 8px;
        color: #333;
        text-align: center;
        position: relative;
      }
    }

    .discount_buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 0;

      button {
        width: 18px;
        height: 18px;
        background-color: transparent;
        border: 1px solid #ddd;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        &:first-child {
          border-bottom: 0px solid transparent;
          border-top: 0px solid transparent;
        }
        &:last-child {
          border-bottom: 0px solid transparent;
        }
      }
    }
  }
}

.total_order_amount {
  background: #1aa25a;
  padding: 15px;
  margin-top: -7px;

  h4 {
    color: #fff;
    margin: 0px;
  }
}

.total_grand_item {
  background: #bde9d2;
  padding: 15px;

  h4 {
    color: #1aa25a;
    margin: 0px;
  }
}

.order_item {
  padding: 10px 15px;
  border-bottom: 1px dashed #ddd;
}

.total_order {
  padding: 10px 15px;
  border-bottom: 1px dashed #ddd;
  h4 {
    font-size: 1rem;
  }
}

.order_calculation {
  .order_calculation_heading {
    background: #f7f7f7;
  }
}
